/*
p.first{
    text-transform: capitalize;
    text-indent: 300px;
}
p.second{
    letter-spacing: 5px;
    line-height: 60px;
    word-spacing: 20px;
    white-space: nowrap;
}
*/

h1{
    text-shadow: 4px 4px 5px blueviolet;
}

p.second{
    width: 500px;
    border: 10px solid red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}